.movie{
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    display: flex;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3);
    img{
        position: relative;
        max-width: 250px;
        width: 100%;
        top: -50px;
        margin-right: 50px;
        box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 8px 36px -108px rgba(0,0,0,.3);
    }
    .movie_data {
        padding: 50px 20px;
        box-sizing: border-box;
        .movie_title{
            text-transform: uppercase;
            color: rgb(87, 133, 133);
            margin-bottom: 20px;
        }
        .movie_year{
            color:#a8bbb9;
            margin-bottom: 10px;
        }
        .movie_summary{
            text-align: justify;
        }
        .movie_genres{
            list-style: none;
            display: flex;
            margin-bottom: 20px;
                li{
                    padding-right: 10px;
                }
        }
    }
}
@media screen and(max-width: 700px){
    .movie{
        flex-direction: column;
        img{
            left: 50%;
            transform:translate(-50%);
            max-width: 300px;
        }
    }
}